# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Architecture-specific build artifacts
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Build artifacts
DerivedData/
build/
.build/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from SPM dependencies.
.swiftpm/
.SourcePackages/
SourcePackages/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Local editor settings
.vscode/
.idea/
*.swp
*.lock

# Local caches
.cache/

# Local environment files
.env
.env.*
*.local
.sentryclirc

# Project specific
raw/
