<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmplitudeAPIKey</key>
	<string>57c03f2418ee11b11a26ba7a21827187</string>
	<key>CFBundleDisplayName</key>
	<string>Norviq</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>norviqa</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.543855343463-8mhma1ss69aboaum7qetf1li2ko8mg5g</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>Norviq uses Face ID to unlock your app session.</string>
	<key>NorviqAPIEnvironment</key>
	<string>$(NORVIQ_API_ENVIRONMENT)</string>
	<key>GoogleOAuthClientID</key>
	<string>543855343463-8mhma1ss69aboaum7qetf1li2ko8mg5g.apps.googleusercontent.com</string>
	<key>OAuthCallbackScheme</key>
	<string>norviqa</string>
	<key>PexelsAPIKey</key>
	<string>WVDa5RXl1hx8Xw70OH94iXkSKwRvsVeOUopxx8cvvLKVouilEMVMukf2</string>
	<key>PostHogHost</key>
	<string>https://eu.i.posthog.com</string>
	<key>PostHogProjectToken</key>
	<string>phc_BAj6KZPSu8JD7oSoj6Mev957eNp6bHsNiNEqzPofDTDp</string>
	<key>RevenueCatAPIKey</key>
	<string>appl_WhkrrqIARwWCJUrxETkxkzdZzni</string>
	<key>SENTRY_DSN</key>
	<string>https://a8b2cb36518b8be68b0b8f41d7095b05@o4510766840872960.ingest.de.sentry.io/4511577338282064</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
